version: 2

jobs:
  test:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn
      - run: yarn test.prod

  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn
      - run: yarn build

  release:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn
      - run: yarn build
      - run: yarn release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test
      - build:
          requires:
            - test
      - release:
          filters:
            branches:
              only:
                - master
                - alpha
                - beta
          requires:
            - test
            - build
