@import '../../components/variables';

/*
 * CONFIG TO BE PASSED IN BY THE CONSUMER
 * $sl-config should never be called outside of this file, unless being set in another application
 */
$sl-config: () !default;

/*
 * DEFAULTS DEFINED BY STOPLIGHT
 * $sl-defaults should never be called outside of this file
 */

$sl-defaults: (
  colors: (
    black: #10161a,
    white: #fff,
    gray: #738694,
    info: #3182ce,
    success: #38a169,
    warning: #dd6b20,
    danger: #e53e3e,
    primary: #3182ce,
    secondary: #805ad5,
  ),
);

// add the component variables to defaults
$sl-defaults: map-extend($sl-defaults, $sl-component-defaults, true);

/*
 * RESOLVED VARIABLES USED IN ./theme.scss
 * deep merge of defaults and consumer config
 * $sl-variables should never be called outside of ./theme.scss
 */
$sl-variables: map-extend($sl-defaults, $sl-config, true);
