/*
 * overwritable by user throught $sl-config, exported to defaults
 */

$sl-code-editor: (
  primary: #e91e63,
  secondary: #4caf50,
  comment: #90a4ae,
  keyword: #3f51b5,
  function: #f44336,
  variable: #ff9800,
  operator: #795548,
  regex: #ff9800,
  punc: #9e9e9e,
);
