/**
 * VARS
 *
 * These should be kept in sync with the appropriate variables in the tailwind.config.js file!
 */

$pt-font-family-monospace: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
$pt-border-radius: 3px;
$pt-font-size: 14px;
$pt-font-size-large: 16px;
$pt-font-size-small: 12px;

$pt-transition-ease: cubic-bezier(0.4, 1, 0.75, 0.9);
$pt-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11);
$pt-transition-duration: 50ms;

/**
 * COLORS
 */

// @import "@blueprintjs/core/lib/scss/variables";

$black: #10161a;

$dark-gray1: #182026;
$dark-gray2: #202b33;
$dark-gray3: #293742;
$dark-gray4: #30404d;
$dark-gray5: #394b59;

$gray1: #5c7080;
$gray2: #738694;
$gray3: #8a9ba8;
$gray4: #a7b6c2;
$gray5: #bfccd6;

$light-gray1: #ced9e0;
$light-gray2: #d8e1e8;
$light-gray3: #e1e8ed;
$light-gray4: #ebf1f5;
$light-gray5: #f5f8fa;

$white: #ffffff;

// Each of these should match up to tailwind color scale 4-8. Keep these in sync! For example:
// $blue1: blue-8;
// $blue2: blue-7;
// $blue3: blue-6;
// $blue4: blue-5;
// $blue5: blue-4;

$blue1: #2c5282;
$blue2: #2b6cb0;
$blue3: #3182ce;
$blue4: #4299e1;
$blue5: #63b3ed;

$green1: #276749;
$green2: #2f855a;
$green3: #38a169;
$green4: #48bb78;
$green5: #68d391;

$orange1: #9c4221;
$orange2: #c05621;
$orange3: #dd6b20;
$orange4: #ed8936;
$orange5: #f6ad55;

$red1: #9b2c2c;
$red2: #c53030;
$red3: #e53e3e;
$red4: #f56565;
$red5: #fc8181;

$indigo1: #553c9a;
$indigo2: #6b46c1;
$indigo3: #805ad5;
$indigo4: #9f7aea;
$indigo5: #b794f4;

/**
 * COMPUTED
 */

 $pt-text-color: $dark-gray1;
 $pt-text-color-muted: $gray1;
 $pt-text-color-disabled: rgba($pt-text-color-muted, 0.5);
 $pt-heading-color: $pt-text-color;
 $pt-link-color: $blue2;
 $pt-dark-text-color: $light-gray5;
 $pt-dark-text-color-muted: $gray5;
 $pt-dark-text-color-disabled: rgba($pt-dark-text-color-muted, 0.5);
 $pt-dark-heading-color: $pt-dark-text-color;
 $pt-dark-link-color: $blue5;
 $pt-text-selection-color: rgba($blue4, 0.6);

@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/select/src/blueprint-select.scss";

$icon-font-path: "/static/icons";
@import "~@blueprintjs/icons/src/blueprint-icons.scss";
