@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html,
#__next {
  height: 100%;
}

a {
  @apply text-blue-6;
}

.bp3-label {
  @apply font-semibold;
}

.text-primary {
  @apply text-blue-5;
}

.text-success {
  @apply text-green-5;
}

.text-warning {
  @apply text-orange-5;
}

.text-danger {
  @apply text-red-5;
}

.text-info {
  @apply text-blue-5;
}

.root {
  background-color: .1s cubic-bezier(.4,1,.75,.9);
}
